:root{
    --primary: #F5F5EF;
    --secondary: #1F2839;
    --accent: #B69D74;
}

*{
    margin: 0;
}

html{
    font-family: "Fredoka", sans-serif;
    background-color: var(--primary);
}

a{
    text-decoration: none;
    color: var(--primary);
}

a:hover{
    text-decoration: underline var(--accent);
}

ul{
    list-style-type: none;
}

/* Nav Bar */
nav{
    background-color: var(--secondary);
    border-bottom: 2px #1F2839 solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    gap: 10px;
}

#cv{
    border: 2px var(--accent) solid;
    border-radius: 10px;
    padding: 10px;
}

.active-element{
    color: var(--accent);
    font-weight: 500;
}